@import "nullstyle.scss";
//--------------------------------------------------------------
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap');

@font-face {
	font-family: Arial;
	src: url('fonts/arial.eot');
	src: local('☺'), url('fonts/arial.woff') format('woff'), url('fonts/arial.ttf') format('truetype'), url('fonts/arial.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
//--------------------------------------------------------------
/*body start*/
body{
	
}
/*body stop*/
//--------------------------------------------------------------
/*title start*/
.title{
	font-family: Inter;
	font-size: 32px;
	line-height: 48px;
	text-align: center;
	color: #212B31;
}
/*title stop*/
//--------------------------------------------------------------
/*subtitle start*/
.subtitle{
	font-family: Inter;
	font-size: 20px;
	line-height: 32px;
	text-align: center;
	color: #72787D;
}
/*subtitle start*/
//--------------------------------------------------------------
/*_container start*/
._container{
	width: 1056px;
	margin: 0 auto;
}
/*_container stop*/
//--------------------------------------------------------------
/*_protocontainer*/
._protocontainer{
	width: 1440px;
	margin: 0 auto;
}
/*_protocontainer*/
//--------------------------------------------------------------
/*wrapper start*/
.wrapper{
	display: flex;
	flex-direction: column;
	min-height: 100%;
	
}
/*wrapper stop*/
//--------------------------------------------------------------
/*main start*/
.main{
	flex: 1 1 auto;
}
/*main stop*/
//--------------------------------------------------------------
/*header start*/
.header {
	margin: 0 auto;
	width: 1378px;

	&__body {
		display: flex;
		justify-content: space-between;
		height: 96px;
		align-items: center;
	}

	&__company {
		display: flex;
		align-items: center;
	}

	&__logo {
		margin-right: 8px;
	}

	&__name {
		text-transform: uppercase;
		font-family: Inter;
		font-size: 22px;
		line-height: 27px;
		color: #212B31;
	}
}
.link {
	font-family: Inter;
	font-size: 16px;
	line-height: 19px;
	color: #72787D;
	&__ordinary {
		margin-right: 22px;
	}

	&__buy {
		font-size: 15px;
		line-height: 16px;
		font-family: Arial;
		color: #FFFFFF;
		background-color: #212B31;
		border: 1px solid #212B31;
		box-sizing: border-box;
		box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.16);
		border-radius: 4px;
		padding: 9px 20px;
	}
	.link__ordinary-home{
		color: #036FC7;
		margin-right: 22px;
	}
}
/*header stop*/
//--------------------------------------------------------------
/*delivery start*/
.delivery {
	
	&__body {
	}

	&__title {
		text-align: center;
		margin-top: 74px;
		color: #212B31;
		font-family: Inter;
		font-size: 48px;
		line-height: 64px;
		margin-bottom: 45px;
}

	&__links {
		text-align: center;
		margin-bottom: 88px;
	}

	&__linc-black {
		margin-right: 16px;
		border: 1px solid #212B31;
		background-color: #212B31;
		color: #fff;
		box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.16);
		border-radius: 4px;
		padding: 14px 25px;
		font-family: Arial;
		font-size: 17px;
		line-height: 24px;
		text-align: center;
	}

	&__linc-white {
		margin-right: 16px;
		border: 1px solid #DADEDF;
		background-color: #fff;
		color: #212B31;
		border-radius: 4px;
		padding: 14px 27px;
		font-family: Arial;
		font-size: 18px;
		line-height: 24px;
		text-align: center;
	}

	&__images {
		text-align: center;
		margin-bottom: 148px;
	}

	&__city {
		margin-bottom: 36px;
	}
	&__truck {
		margin-bottom: 148px;
	}
	&__guarantees {
	}
}

.guarantees {

	&__row {
		display: flex;
		justify-content: space-between;
		margin-bottom: 142px;
	}

	&__body {
		width: 325px;
		text-align: center;
	}

	&__efficiency {
	}
}
.efficiency {
	display: flex;
	flex-direction: column;
	
	&__img {
		margin-bottom: 20px;
	}

	&__subtitle {
		color: #212B31;
		font-family: Inter;
		font-size: 18px;
		line-height: 24px;
		text-align: center;
		margin-bottom: 10px;
	}

	&__text {
		color: #72787D;
		font-family: Inter;
		font-style: 16px;
	}
}
/*delivery start*/
//--------------------------------------------------------------
/*chaos start*/
.chaos {

	&__title {
		margin-bottom: 16px;
	}

	&__subtitle {
		margin-bottom: 40px;
	}
	
	&__img{
		margin-bottom: 144px;
	}
}
/*chaos stop*/
//--------------------------------------------------------------
/*order start*/
.order {
	
	&__title {
		margin-bottom: 175px;
	}

	&__row {
		
	}
}
.oreder {
	
	&__column {
	}
}
.column {
display: flex;

	&__title {
		text-align: left;
		margin-bottom: 16px;
	}

	&__subtitle {
		text-align: left;
		margin-bottom: 28px;
	}
	
	&__container{
	width: 250px;
    height: 32px;
    background: linear-gradient (to top, #fff 50%, #FFD042 50%);
	}
	
	&__text {
		background: linear-gradient(#fff 50%, #FFD042 50%);
  		color: #212B31;
		font-family: Inter;
		font-size: 20px;
		line-height: 32px;
		text-align: center;
	}

	&__image {
		width: 464px;
	}
}
.colum {

	&__body {
		width: 542px;
	}
}
.subtitle {
}
.order {

	&__reclam {
		
	}
}
.reclam {

	&__row {
		margin-top: 120px;
		text-align: center;
		margin-bottom: 136px;
	}

	&__item > *:not(5, 6)	{
		padding-right: 30px;
	}
	&__img{
		padding-bottom: 10px;
	}
}
/*order stop*/
//--------------------------------------------------------------
/*what start*/
.what {

	&__title {
		margin-bottom: 21px;
	}

	&__subtitle {
		margin-bottom: 28px;
	}

	&__row {
	}

	&__item {
		display: flex;
		margin-bottom: 64px;
		width: 100%;
		
	}

	&__body {
		flex: 1 1 auto;
		justify-content: center;
		min-height: 272px;
	}

	&__bodi-title {
		color: #212B31;
		font-family: Inter;
		font-size: 18px;
		line-height: 24px;
		margin-bottom: 19px;
	}

	&__body-text {
		font-family: Inter;
		font-size: 16px;
		line-height: 24px;
		color: #72787D;
	}

	&__image {
		width: 528px;
		display: flex;
		justify-content: space-around;
	}
}
/*what stop*/
//--------------------------------------------------------------
/*delivery-easier start*/
.delivery-easier {

	&__title {
	}

	&__subtitle {
		margin-bottom: 43px;
	}

	&__row {
		display: flex;
		flex-wrap: wrap;
		margin: -13.5px -16.5px -13.5px -16.5px;
		margin-bottom: 22px;
	}

	&__item {
		flex: 0 1 33.3333%;
		padding: 13.5px 16.5px 13.5px 16.5px;
	}

	&__item-title {
		margin-bottom: 11px;
		font-family: Inter;
		font-size: 18px;
		line-height: 24px;
		color: #212B31;
	}
	.item-concrete{
		background: url(/img/deliveri-easier/Frame.svg)  left top 17px  no-repeat;
		padding-left: 64px;
	}
	.item-waste{
		background: url(/img/deliveri-easier/Waste_removal.svg)  left top 17px  no-repeat;
		padding-left: 64px;
	}
	.item-formwork{
		background: url(/img/deliveri-easier/Formwork.svg)  left top 17px  no-repeat;
		padding-left: 64px;
	}
	.item-precasts{
		background: url(/img/deliveri-easier/Precasts.svg)  left top 17px  no-repeat;
		padding-left: 64px;
	}
	.item-facades{
		background: url(/img/deliveri-easier/Facades.svg)  left top 17px  no-repeat;
		padding-left: 64px;
	}
	.item-fit-out{
		background: url(/img/deliveri-easier/Fit-out.svg)  left top 17px  no-repeat;
		padding-left: 64px;
	}
	.item-scaffolding{
		background: url(/img/deliveri-easier/Fit-out.svg)  left top 17px  no-repeat;
		padding-left: 64px;
	}
	.item-tractor{
		background: url(/img/deliveri-easier/tractor.svg)  left top 17px  no-repeat;
		padding-left: 64px;
	}
	.item-mep{
		background: url(/img/deliveri-easier/tractor.svg)  left top 17px  no-repeat;
		padding-left: 64px;
	}

	&__item-text {
		color: #72787D;
		font-family: Inter;
		font-size: 16px;
		line-height: 24px;
	}
	
}
.delivery-easier {

	&__other {
		font-family: Inter;
		font-size: 20px;
		line-height: 32px;
		color: #72787D;
		text-align: center;
	}
}
.other__color {
	display: inline-block;
	background: linear-gradient(#fff 40%, #FFD042 60%);
	color:#212B31;
	font-family: Inter;
	font-size: 20px;
	line-height: 32px;

}
/*delivery-easier stop*/
//--------------------------------------------------------------
/*reliability start*/
.reliability {

	&__title {
		margin-top: 125px;
		margin-bottom: 17px;
		position: relative;
		background: url(../img/reliability/Vector.svg) no-repeat 618px -0px;
		padding-top: 25px;
	}
	
	&__subtitle {
		margin-bottom: 48px;
		width: 857px;
		margin-left: 100px;
	}

	&__row {
		display: flex;
		flex: 0 1 33.3333%;
		margin: 0 -16.5px;
	}

	&__item {
		padding: 0 16.5px;
		margin-bottom: 62px;
		flex: 0 1 33.3333%;
	}

	&__image {
		text-align: center;
		margin-bottom: 19px;
	}

	&__item-title {
		margin-bottom: 11px;
		font-family: Inter;
		font-size: 18px;
		line-height: 24px;
		color: #212B31;
		text-align: center;
	}

	&__item-text {
		font-family: Inter;
		font-size: 16px;
		line-height: 24px;
		text-align: center;
		color: #72787D;
	}

	&__information {
		
	}
}
.information {
	margin-top: px;
	background: url(../img/reliability/hends.svg) 40px 35px no-repeat;
	background-color: #F6F8F9;
	&__text {
		display: inline-block;
		margin-left: 104px;
		padding: 49px 0;
		color: #212B31;
		font-family: Inter;
		font-size: 18px;
		line-height: 32px;

	}

	&__text-mod {
		display: inline-block;
		font-weight: 500;
	}

	&__linc {
		font-family: Inter;
		font-size: 18px;
		line-height: 24px;
		text-align: center;
		color: #212B31;
		margin: 0 10px;
		background-color: #fff;
		padding: 13px 25px;
		border: 1px solid #DADEDF;
		border-radius:4px;
	}
}
/*reliability stop*/
//--------------------------------------------------------------
/*program start*/
.program {
	width: 1440px;
	margin: 0 auto;
	background-color: #212B31;

._protocontainer {
	background-color: #212B31;
	
	margin-top: 144px;
	display: flex;
		&__left {
			margin-left: 192px;
		}

		&__right {
			margin-left: 53px;
			margin-top: 144px;
		}
}
.program__new{
	background-color: #212B31;
}

&__title {
		color: #fff;
		padding-top: 143px;
		text-align-last: left;
		margin-bottom: 50px;
	}

	&__list {
		color: #fff;
		max-width: 589px;
		margin-bottom: 50px;
	}

	.program__links{
		margin-bottom: 127px;
	}
	&__link-white {
		font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
		font-size: 17px;
		line-height: 24px;
		text-align: center;
		justify-content: center;
		padding: 13px 25px;
		background-color: #fff;
		border: 1px solid #DADEDF;
		box-sizing: border-box;
		border-radius: 4px;
		margin-right: 16px;
		color: #212B31;
	}

	&__link-black {
		font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
		font-size: 17px;
		line-height: 24px;
		text-align: center;
		justify-content: center;
		padding: 13px 25px;
		background: #212B31;
		border: 1px solid #DADEDF;
		box-sizing: border-box;
		border-radius: 4px;
		margin-right: 16px;
		color: #fff;
		box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.16);
	}

	
	&__row {
		
	}

	&__column-2 {
		display: flex;
		
	}
}

.list {

	&__component {
		background: url(../img/program/circl.svg) 0 3px no-repeat;
		padding-left: 40px;
		margin-bottom: 24px;
	}

	&__title {
		margin-bottom: 10px;
		font-family: Inter;
		font-size: 18px;
		line-height: 24px;
	}

	&__subtutle {
		font-family: Inter;
		font-size: 16px;
		line-height: 24px;
	}
}
.column-2 {
	margin: 0 -13px;
	&__body {
		color: #fff;
		padding: 0 13px;
		
	}


	&__image {
		text-align: center;
		margin-bottom: 20px;
	}

	&__title {
		text-align: center;
		font-family: Inter;
		font-size: 18px;
		line-height: 24px;
		margin-bottom: 10px;
	}

	&__text-n {
		text-align: center;
		color: rgba(255, 255, 255, 0.75);
		font-family: Inter;
		font-size: 16px;
		line-height: 24px;
		margin-bottom: 142px;
	}
}

/*program stop*/
//--------------------------------------------------------------
/*how-to-work start*/
.how-to-work {

	&__body {
		display: flex;
		flex: 0 1 50%;
		margin-top: 143px;
	}

	&__left {
		width: 462px;
		margin-right: 74px;
	}

	&__title {
		text-align: left;
		margin-bottom: 21px;
	}

	&__subtitle {
		text-align: left;
		margin-bottom: 60px;
	}

	&__right {
		width: 520px;
		}

	&__link {
		padding-top: 30px;
		margin-bottom: 96px;
	}

	&__link-black {
		font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
		font-size: 17px;
		line-height: 24px;
		text-align: center;
		justify-content: center;
		padding: 13px 25px;
		background: #212B31;
		border: 1px solid #DADEDF;
		box-sizing: border-box;
		border-radius: 4px;
		margin-right: 16px;
		color: #fff;
		box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.16);
	}

	&__link-white {
		font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
		font-size: 17px;
		line-height: 24px;
		text-align: center;
		justify-content: center;
		padding: 13px 25px;
		background-color: #fff;
		border: 1px solid #DADEDF;
		box-sizing: border-box;
		border-radius: 4px;
		margin-right: 16px;
		color: #212B31;
	}
}

.how-to-work__element-1{
	background: url(../img/how-to-work/1.svg) no-repeat;
}
.how-to-work__element-2{
	background: url(../img/how-to-work/2.svg) no-repeat;
}
.how-to-work__element-3{
	background: url(../img/how-to-work/3.svg) no-repeat;
}
.how-to-work__element-4{
	background: url(../img/how-to-work/4.svg) no-repeat;
}
.element {
	padding-left: 72px;
	&__title {
		color: #212B31;
		font-family: Inter;
		font-size: 17px;
		line-height: 24px;
		margin-bottom: 10px;
		text-align-last: left;
	}

	&__subtitle {
		color: #72787D;
		font-family: Inter;
		font-size: 16px;
		line-height: 24px;
		width: 448px;
		text-align-last: left;
		margin-bottom: 30px;
	}
}

/*how-to-work stop*/
//--------------------------------------------------------------
/*why-we start*/
.why-we {

	&__title {
		margin-bottom: 17px;
	}

	&__subtitle {
		margin-bottom: 55px;
	}

	&__body {
		display: flex;
	}

	&__body-left {
		width: 458px;
		margin-right: 78px;
	}

	&__body-right {
		width: 614px;
		margin-right: -98px;
	}

	&__reclama {
		margin-top: 127px;
	}
}


.body-left {
	&__list {
	}

	&__item-1 {
		background: url(../img/why-we/01.svg) 0 0 no-repeat;
		padding-left: 64px;
	}
	&__item-2 {
		background: url(../img/why-we/02.svg) 0 0 no-repeat;
		padding-left: 64px;
	}
	&__item-3 {
		background: url(../img/why-we/03.svg) 0 0 no-repeat;
		padding-left: 64px;
	}
	&__item-4 {
		background: url(../img/why-we/04.svg) 0 0 no-repeat;
		padding-left: 64px;
	}
	
	&__title {
		color: #212B31;
		font-family: Inter;
		font-size: 18px;
		line-height: 24px;
		margin-bottom: 10px;
		}

	&__text {
		color: #72787D;
		font-family: Inter;
		font-size: 16px;
		line-height: 24px;
		margin-bottom: 30px;
	}
	&__text:last-child {
		margin-bottom: none;
	}

}
.body-right {
background: #F6F8F9 url(../img/why-we/Frame.svg) 41px 44px no-repeat;

	&__title {
		
	}

	&__text {
		color: #212B31;
		font-family: Inter;
		font-size: 30px;
		line-height: 48px;
		margin: 59px 87px 28px 92px;
	}

	&__persona {
		background: url(../img/why-we/face.png) 88px 10px no-repeat;
		padding: 15px 0 15px 0;
	}

	&__name {
		margin-left: 144px;
		margin-bottom: 1px;
		color: #212B31;
		font-family: Inter;
		font-size: 16px;
		line-height: 19px;
	}

	&__position {
		margin-left: 144px;
		margin-bottom: 33px;
		color: #72787D;
		font-family: Inter;
		font-size: 16px;
		line-height: 19px;
	}
	&__point{
		margin-left: 92px;
		margin-top: 37px;
	}
}
.reclama {
	text-align: center;
	margin-bottom: 149px;

	&__row {
		display: inline-flex;
		width: 672px;
		flex-wrap: wrap;
		flex: 0 1 33.333%;
		justify-content: space-between;
	}

	&__item {
		height: 201px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}

	.item-1 {
		width: 126px;
	}

	.item-2 {
		width: 164px;
		
	}
	.item-3 {
		width: 162px;
	}
	.item-4 {
		margin-left: 240px;
		margin-top: 41px;
		width: 184px;
	}

	&__image {
	}

	&__text {
		color: #72787D;
		font-family: Inter;
		font-size: 16px;
		line-height: 19px;
	}
}

/*why-we stop*/
//--------------------------------------------------------------
/*optimization start*/
.optimization {
	
	&__body{
		background: url(../img/optimization/optimization.png) no-repeat;
		margin-bottom: 138px;
	}
	&__title {
		width: 980px;
		color: #212B31;
		font-family: Inter;
		font-size: 48px;
		line-height: 64px;
		text-align: center;
		padding-top: 117px;
		margin: 0 38px 54px 38px;
	}

	&__links {
		text-align: center;
		padding-bottom: 117px;
	}

	&__link-black {
		font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
		font-size: 17px;
		line-height: 24px;
		text-align: center;
		justify-content: center;
		padding: 13px 25px;
		background: #212B31;
		box-sizing: border-box;
		border-radius: 4px;
		margin-right: 16px;
		color: #fff;
		box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.16);
		border: 1px solid #212B31;
	}

	&__link-white {
		font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
		font-size: 17px;
		line-height: 24px;
		text-align: center;
		justify-content: center;
		padding: 13px 25px;
		background-color: #fff;
		border: 1px solid #DADEDF;
		box-sizing: border-box;
		border-radius: 4px;
		margin-right: 16px;
		color: #212B31;
	}
}
/*optimization stop*/
//--------------------------------------------------------------
/*footer start*/
.footer {

	&__columns {
		display: flex;
		justify-content: space-between;
	}
	
	&__column-title-1 {
		font-family: Intar;
		font-size: 16px;
		line-height: 19px;
		text-transform: uppercase;
		color: #212B31;
		margin-bottom: 17px;
		padding: 12px 0 12px 38px;
		background: url(../img/footer/logo.svg) left no-repeat;
	}
	
	&__column-title-2 {
		font-family: Intar;
		font-size: 16px;
		line-height: 24px;
		color: #212B31;
		padding-top: 12px;
		margin-bottom: 22px;
	}

	&__column-text {
		font-family: Intar;
		font-size: 16px;
		line-height: 24px;
		color: #72787D;
	}

	&__column-text-2 {
		margin-bottom: 10px;
	}

	&__column-email {
		font-family: Intar;
		font-size: 16px;
		line-height: 24px;
	}
	&__column-email-color{
		color: #72787D;
	}

	&__column-fone {
		font-family: Intar;
		font-size: 16px;
		line-height: 24px;
		margin-bottom: 20px;
	}
	&__column-fone-color{
		color: #72787D;
	}

	&__column-logo {
		margin-bottom: 160px;
	}

	&__column-links {
		font-family: Inter;
		font-size: 15px;
		line-height: 24px;
		color: #72787D;
	}

	&__column-link-1 {
		margin-bottom: 8px;
	}

	&__column-link-2 {
	}
	&__column-link-1-2{
		color: #72787D;
	}

		&__bottom-body {
		display: flex;
		justify-content: space-between;
		height: 96px;
		border-top: 1px solid #DADEDF;
		align-items: center;
		font-family: Inter;
		font-size: 16px;
		line-height: 24px;
		color: #72787D;
	}

	&__protection-of-rights {
	}

	&__privacy-policy {
	}
}
/*footer stop*/
//-------------------------------------------------------------